* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: beige;
}

nav {
  background-color: burlywood;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.nav-link {
  color: black;
  margin-right: 16px;
  transform: all 0.3s;
}

.nav-link:hover {
  color: white;
}

main {
  min-height: 90vh;

}

h1 {
  text-align: center;
  margin: 3rem;
}